@import '../pages/Landing';

.text {
  font-family: $overpass !important;
}

.right-align {
  text-align: right !important;
}

.left-align {
  text-align: right !important;
}

.center-align {
  text-align: right !important;
}
