////////////////////////////////////////////////////////////////
// palette /////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

// greens
$harlequin: #3ecc03;
$druid-green: #00a91c;


//// reds
$monza: #d0021b;
$cerise_red: #DC4154;
$pippin: #ffe1e2;


//// blues
$gulf: #061964;
$warloc-blue: #182e52;
$big-blue: #1954d0;
$airforce: #5e81ac;
$havelock: #6481df;
$portage: #9093f8;
$perano: #acbdee;
$jordy-blue: #96abf5;


//// yellows and oranges
$gold-tips: #e5c217;

//// grays
$outer-space: #2d383a;
$shark: #323436;
$abbey: #545659;
$dustyGray: #979797;
$dusty: #9b9b9b;
$chateau: #a1a4a8;
$silver: #c0c0c0;
$light-silver: #CCC;
$alto: #d6d6d6;
$light-space: #dcdee0;
$porcelain: #e8ebed;
$gallery: #eaeaea;
$alabaster: #f7f7f7;
$polar: #f5f9fd;


$grayish: #f1eff1;
